NODE_ENV=production
PORT=10000
DATABASE_URL=postgres://usuario:senha@host:5432/banco
JWT_SECRET=troque-isso-por-uma-chave-segura-de-64-caracteres-aleatorios-aqui
EMAIL_FROM=fabio08dejesusjunior@gmail.com
EMAIL_APP_PASSWORD=zfyrqigqikqbtfpv
SISTEMA_NOME=Recrutamento e Seleção
CORS_ORIGIN=https://sistemarecrutsmento.github.io
